{{extend 'layout.html'}}
   <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
       <tr>
         <th>Fecha</th>
         <th>Proveedor</th>
         <th>Descripcion</th>
         <th>Subtotal</th>
         <th>Iva</th>
         <th>Total</th>
       </tr>
     </thead>
      <tbody>
         
      </tbody>
   </table>
</div>
<script src="{{=URL('static','js/gastos/ver.js')}}"></script>
<script type="text/javascript">
	var urlListaGastos = "{{=URL('gasto', 'lista_gasto')}}"
</script>